/* Carrito.html */
/* resumen */
.tarjetas img {
    width: 65px;
  }
  
  .card.resumen h5 {
    font-size: 1.5em;
    font-weight: 700;
  }
  .card.resumen h6 {
    font-size: 1.2em;
    font-weight: 700;
  }
  /* carrito-productos */
  .carrito-productos img {
    width: 125px;
    height: 125px;
  }
  
  .carrito-productos .card-header h5 {
    font-size: 1.6em;
    font-weight: 700;
  }
  
  .carrito-productos p {
    font-size: 1.1em;
    font-weight: 700;
  }
  
  .carrito-productos input:focus {
    border: 1px solid grey;
    box-shadow: none;
  }
  
  .carrito-productos .card-body:nth-of-type(2) {
    border-top: 1px solid rgba(0, 0, 0, 0.175);
  }
  
  .carrito-productos button:hover i {
    color: #4d264c;
    transition: all 0.4s;
  }
  
  
.icono-borrar {
    width: 25px;
    height: 25px
  }
  
  .icono-borrar:hover {
    width: 25px;
    height: 25px;
    color: #4d264c;
    transition: all 0.6s;
    fill:#4d264ca2;
  }

  .carrito-productos .card-title {
    font-weight: 700;
    font-size: 1.3em;
  }
  
  .resumen .card-body li,
  .carrito-productos .card-body li {
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
  }
  
  .resumen .card-body li:last-child {
    font-weight: 700;
    font-size: 1.3em;
    font-style: normal;
  }